[package]
name = "remote-gpio"
version = "0.1.0"
edition = "2021"

[dependencies]
axum = { version = "0.8.8", features = ["json", "macros", "form", "ws"] }
tokio = { version = "1.49.0", features = ["rt", "macros", "sync", "time"] }
tower-http = { version = "0.6.8", features = ["fs", "trace", "cors"] }
serde = { version = "1.0.228", features = ["derive"] }
serde_json = "1.0.148"
anyhow = "1.0.100"
tracing = "0.1.44"
tracing-subscriber = { version = "0.3.22", features = ["env-filter"] }
gpiocdev = { version = "0.8.0", features = ["uapi_v1", "async_tokio"] }
futures = "0.3.31"

[profile.release]
strip = true  # Automatically strip symbols from the binary.
